body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    margin: 5%;

}
form{
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    border-radius: 10px;
    padding: 12%;
}
.button{
    text-align: center;
    background-color: rgba(122, 73, 89, 0.842);
    border-radius: 10px;
}
.border{
    border-radius: 10px;
    padding-left: 7%;
    border: #cccc;
}
.border2{
    border-radius: 10px;
    padding-left: 7%;
    margin-bottom: 5%;
    border: #cccc;
}
.light{
    padding-right: 15%;
    margin-bottom: 25%;
    
}
.button2{
    border-radius: 10px;
    background-color: rgb(212, 209, 36);

}